@import "~antd/dist/antd.css";
body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.page-content {
  margin: 0px;
  padding: 0px;
}

ol,
ul {
  padding-left: 30px;
}

h3 {
  color: crimson;
}
